<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns = "https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation = "https://jakarta.ee/xml/ns/jakartaee
        https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version = "6.0"
         metadata-complete = "false">

    <display-name>MyMessenger</display-name>

    <servlet>
        <servlet-name>UserReg</servlet-name>
        <servlet-class>by.it_academy.jd2._107.controllers.servlet.UserRegistrationServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserReg</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogInApp</servlet-name>
        <servlet-class>by.it_academy.jd2._107.controllers.servlet.LogInToTheAppServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogInApp</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MessengerApp</servlet-name>
        <servlet-class>by.it_academy.jd2._107.controllers.servlet.MessengerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MessengerApp</servlet-name>
        <url-pattern>/mess</url-pattern>
    </servlet-mapping>

</web-app>